.collapsable::after {
    content: "\f107";
    font-family: "FontAwesome"
}

.collapsable[aria-expanded="true"]::after {
    content: "\f106";
}

.upstream-state-0 {
    background-color: #FFEB3B;
}

.upstream-state-1 {
    background-color: #8BC34A;
}

.upstream-state-2 {
    background-color: #BDBDBD;
}